In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,StratifiedKFold
import lightgbm as lgb
from sklearn.metrics import f1_score
from sklearn.preprocessing import OneHotEncoder

In [33]:
xgb_df = pd.read_csv('C:/python/signate/data/xgb_pred_proba.csv',index_col=0)
xgb_test_df = pd.read_csv('C:/python/signate/data/xgb_pred_proba_test.csv',index_col=0)
knn_df = pd.read_csv('C:/python/signate/data/knn_pred.csv', index_col=0)
knn_test_df = pd.read_csv('C:/python/signate/data/knn_predict_test.csv', index_col=0)
lgb_df = pd.read_csv('C:/python/signate/data/lgb_pred_proba.csv', index_col=0)
lgb_test_df = pd.read_csv('C:/python/signate/data/lgb_pred_proba_test.csv', index_col=0)
train_df = pd.read_csv('C:/python/signate/data/train.csv', index_col=0)
sample_df = pd.read_csv('C:/python/signate/data/sample_submission.csv', header=None, index_col=0)
dive_test_lgb = pd.read_csv('C:/python/signate/data/lgb-dive.csv', index_col=0, header=None)
dive_test_lgb.rename(columns={1:'lgb'}, inplace=True)
dive_test_xgb = pd.read_csv('C:/python/signate/data/xgb-dive.csv', index_col=0, header=None)
dive_test_xgb.rename(columns={1:'xgb'}, inplace=True)
lgb_dive_train = pd.read_csv('C:/python/signate/data/lgb_dive-train.csv', index_col=0, )
xgb_dive_train = pd.read_csv('C:/python/signate/data/xgb_dive-train.csv', index_col=0, )

df = pd.concat([xgb_df, knn_df, lgb_df, lgb_dive_train, xgb_dive_train], axis=1)
test_df = pd.concat([xgb_test_df, knn_test_df, lgb_test_df, dive_test_lgb, dive_test_xgb], axis=1)

In [38]:
df.head(30)

,xgb-0,xgb-1,xgb-2,knn_predict,lgb-0,lgb-1,lgb-2,lgb,xgb
0,0.611466,0.279555,0.108979,0,0.470961,0.393190,0.135849,0,0
1,0.822389,0.173742,0.003870,1,0.313045,0.678275,0.008681,1,1
2,0.472740,0.248011,0.279249,1,0.196880,0.316276,0.486844,1,0
3,0.117261,0.521242,0.361498,0,0.056534,0.913599,0.029867,1,1
4,0.341689,0.430007,0.228304,0,0.361365,0.612840,0.025794,1,1
5,0.021359,0.961191,0.017450,1,0.045343,0.873851,0.080806,1,1
6,0.366866,0.557717,0.075416,1,0.653244,0.260746,0.086010,0,0
7,0.077631,0.711424,0.210944,1,0.125549,0.857428,0.017023,1,1
8,0.244491,0.695453,0.060057,1,0.176771,0.816259,0.006970,1,1
9,0.558481,0.418806,0.022714,1,0.770695,0.215841,0.013465,0,0
10,0.537003,0.257010,0.205986,1,0.251464,0.499922,0.248613,1,1
11,0.433729,0.479897,0.086375,1,0.293972,0.616533,0.089495,1,1
12,0.401594,0.349436,0.248970,1,0.391026,0.485417,0.123557,1,1
13,0.147263,0.489921,0.362816,1,0.039430,0.925883,0.034687,1,1
14,0.536629,0.446945,0.016427,1,0.184665,0.814431,0.000904,1,1
15,0.066910,0.929561,0.003529,1,0.044401,0.955404,0.000195,1,1
16,0.059072,0.937127,0.003801,1,0.256647,0.723290,0.020063,1,1
17,0.460048,0.199012,0.340940,0,0.474052,0.376927,0.149021,0,0
18,0.242549,0.483503,0.273948,1,0.469640,0.419311,0.111049,0,1
19,0.350184,0.629230,0.020587,0,0.318369,0.647699,0.033932,0,1
20,0.686290,0.312431,0.001280,1,0.291244,0.705275,0.003482,1,1
21,0.390762,0.274608,0.334629,0,0.577755,0.370923,0.051323,0,0
22,0.319598,0.577987,0.102415,1,0.339092,0.655919,0.004989,1,1
23,0.222066,0.733995,0.043939,0,0.116376,0.839675,0.043949,1,1
24,0.408303,0.578087,0.013610,0,0.384692,0.575696,0.039612,0,1
25,0.394319,0.566765,0.038916,1,0.257623,0.741056,0.001321,1,1
26,0.092391,0.905377,0.002232,1,0.137043,0.862034,0.000923,1,1
27,0.201674,0.615606,0.182719,1,0.652998,0.299812,0.047189,1,0
28,0.348218,0.612698,0.039083,1,0.214539,0.779488,0.005973,1,1
29,0.232679,0.760292,0.007029,1,0.399411,0.595219,0.005370,1,0

In [35]:
test_df

,xgb-0,xgb-1,xgb-2,knn_predict,lgb-0,lgb-1,lgb-2,lgb,xgb
19984,0.545216,0.404843,0.049941,1,0.596886,0.363536,0.039578,0,0
19985,0.362207,0.587780,0.050013,1,0.421671,0.570713,0.007616,1,1
19986,0.255562,0.733134,0.011305,1,0.637548,0.353731,0.008721,0,1
19987,0.337109,0.617176,0.045715,1,0.201457,0.789298,0.009245,1,1
19988,0.480037,0.468837,0.051126,1,0.585373,0.382282,0.032345,0,0
...,...,...,...,...,...,...,...,...,...
39964,0.045060,0.944733,0.010206,0,0.103593,0.889922,0.006485,1,1
39965,0.358874,0.481291,0.159836,1,0.367410,0.599118,0.033472,1,1
39966,0.107937,0.139446,0.752617,2,0.034041,0.155305,0.810654,1,1
39967,0.339700,0.639044,0.021256,0,0.254084,0.737013,0.008903,1,1
39968,0.720678,0.263731,0.015592,1,0.549734,0.431528,0.018738,0,0

In [11]:
# 多数決

lgb_test_df.rename(columns={'lgb-0':0, 'lgb-1':1, 'lgb-2':2}, inplace=True)
xgb_test_df.rename(columns={'xgb-0':0, 'xgb-1':1, 'xgb-2':2}, inplace=True)
xgb_test_df_max = pd.DataFrame(xgb_test_df.idxmax(axis=1))
lgb_test_df_max = pd.DataFrame(lgb_test_df.idxmax(axis=1))

# knn_test_dfをonehotに変換
onhot_enc = OneHotEncoder()
knn_test_df_max_onehot = onhot_enc.fit_transform(knn_test_df).toarray()
dive_test_df_onehot = onhot_enc.fit_transform(dive_test_df).toarray()
xgb_test_df_max_onehot = onhot_enc.fit_transform(xgb_test_df_max).toarray()
lgb_test_df_max_onehot = onhot_enc.fit_transform(lgb_test_df_max).toarray()
ensam_df  = lgb_test_df_max_onehot + knn_test_df_max_onehot + dive_test_df_onehot #+ xgb_test_df_max_onehot
ensam_df_max = np.argmax(ensam_df, axis=1)
sample_df[1] = ensam_df_max
sample_df.to_csv('C:/python/signate/data/ensam_lgb-knn-dive.csv', header=None)

In [17]:
xgb_test_df_max

       0
19984  0
19985  1
19986  1
19987  1
19988  0
...   ..
39964  1
39965  1
39966  2
39967  1
39968  0

[19702 rows x 1 columns]

In [23]:
# 0以外があるなら、その値を採用
dive_test_df.rename(columns={1:'dive-0'}, inplace=True)
xgb_test_df_max.rename(columns={0:'xgb-0'}, inplace=True)
lgb_test_df_max.rename(columns={0:'lgb-0'}, inplace=True)
knn_test_df.rename(columns={1:'knn-0'}, inplace=True)

df = pd.concat([xgb_test_df_max, knn_test_df, lgb_test_df_max, dive_test_df], axis=1)

In [31]:
# probaの最大値

lgb_test_df.rename(columns={'lgb-0':0, 'lgb-1':1, 'lgb-2':2}, inplace=True)
xgb_test_df.rename(columns={'xgb-0':0, 'xgb-1':1, 'xgb-2':2}, inplace=True)
sum_df = xgb_test_df*0.8 + lgb_test_df

sum_df_max = np.argmax(sum_df.values, axis=1)
sample_df[1] = sum_df_max
# sample_df.to_csv('C:/python/signate/data/sum.csv', header=None)

In [37]:
# lgbでスタッキング
le_col = ['knn_predict', 'lgb', 'xgb', ]

df[le_col] = df[le_col].astype('category')
test_df[le_col] = test_df[le_col].astype('category')

y = train_df['health']
kf = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)
valid_scores = []
models = []

for fold, (train_idx, valid_idx) in enumerate(kf.split(df, y)):
    print(f'fold{fold} start')
    X_train, y_train = df.iloc[train_idx], y.iloc[train_idx]
    X_valid, y_valid = df.iloc[valid_idx], y.iloc[valid_idx]

    lgb_train = lgb.Dataset(X_train, y_train,)
    lgb_eval = lgb.Dataset(X_valid, y_valid,)


    verbose_eval = -1 # この数字を1にすると学習時のスコア推移がコマンドライン表示される
    params = {'objective': 'multiclass',
 'metric': 'multi_logloss',
 'num_class': 3,
 'seed': 0,}
    
    model = lgb.train(params,
                      lgb_train,
                      valid_sets=[lgb_train, lgb_eval],
                      num_boost_round=1000,
                       callbacks=[lgb.early_stopping(stopping_rounds=50, 
                                verbose=True), # early_stopping用コールバック関数
                           lgb.log_evaluation(verbose_eval)], # コマンドライン出力用コールバック関数))
                        # feval=f1,
                        # categorical_feature=le_columns,
                    )

    y_pred = model.predict(X_valid, num_iteration=model.best_iteration)
    y_pred_max = np.argmax(y_pred, axis=1)
    score = f1_score(y_valid, y_pred_max, average='macro')
    print(f'fold{fold} f1_score: {score:.4f}')
    valid_scores.append(score)
    models.append(model)
print(f'CV: {np.mean(valid_scores):.4f}')

fold0 start
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001957 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1542
[LightGBM] [Info] Number of data points in the train set: 15987, number of used features: 9
[LightGBM] [Info] Start training from score -1.732206
[LightGBM] [Info] Start training from score -0.238079
[LightGBM] [Info] Start training from score -3.353382
Training until validation scores don't improve for 50 rounds
Early stopping, best iteration is:
[8]	training's multi_logloss: 0.586765	valid_1's multi_logloss: 0.606725
fold0 f1_score: 0.2939
fold1 start
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000631 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1542
[LightGBM] [Info] Number of data points in the train set: 15987, number of used features: 9
[LightGBM] [Info] Start training from score -1.732206
[LightGBM] [Info] Start training from score -0.238000
[LightGBM] [Info] Start training from score -3.355172
Training until validation scores don't improve for 50 rounds
Early stopping, best iteration is:
[8]	training's multi_logloss: 0.585649	valid_1's multi_logloss: 0.60886
fold1 f1_score: 0.2938
fold2 start
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000760 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1542
[LightGBM] [Info] Number of data points in the train set: 15987, number of used features: 9
[LightGBM] [Info] Start training from score -1.732206
[LightGBM] [Info] Start training from score -0.238000
[LightGBM] [Info] Start training from score -3.355172
Training until validation scores don't improve for 50 rounds
Early stopping, best iteration is:
[8]	training's multi_logloss: 0.585594	valid_1's multi_logloss: 0.610182
fold2 f1_score: 0.2938
fold3 start
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001393 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1542
[LightGBM] [Info] Number of data points in the train set: 15987, number of used features: 9
[LightGBM] [Info] Start training from score -1.732206
[LightGBM] [Info] Start training from score -0.238000
[LightGBM] [Info] Start training from score -3.355172
Training until validation scores don't improve for 50 rounds
Early stopping, best iteration is:
[9]	training's multi_logloss: 0.584811	valid_1's multi_logloss: 0.607743
fold3 f1_score: 0.2938
fold4 start
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001438 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1542
[LightGBM] [Info] Number of data points in the train set: 15988, number of used features: 9
[LightGBM] [Info] Start training from score -1.732269
[LightGBM] [Info] Start training from score -0.238062
[LightGBM] [Info] Start training from score -3.353444
Training until validation scores don't improve for 50 rounds
Early stopping, best iteration is:
[9]	training's multi_logloss: 0.585276	valid_1's multi_logloss: 0.607646
fold4 f1_score: 0.2939
CV: 0.2938